* {
	padding: 0px;
  margin: 0%;
  box-sizing: border-box;
	font-family: 'EB Garamond', serif;
	max-width: 99.90vw;
	/* background-color: rgba(210, 22, 22, 0.271); */
}

.personalized-background{
	background-image: url(../images/fondo.png); 
}

.title{
	text-align: center;
	/* background-color: aquamarine; */
	backdrop-filter: blur(0.6rem);
}

.ct-cont{
display: flex;
width: auto;
margin: 20px auto;
flex-wrap: wrap;
justify-content: space-evenly;
}

.ct{
	margin: 10px;
	width: 400px;
	height: 287px;
	text-align: right;
	display: flex;
	flex-direction: row;
	background-color: #d3d9ed00;
	backdrop-filter: blur(01.6rem);
	border-radius: 6px;
border: 3px solid rgba(30, 20, 223, 0.905);
}

.card2E{
	background-color: #1cdea12d;
	backdrop-filter: blur(01.6rem);
}

.c-cont{
	color: red;
	width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.c-conte{
	display: flex;
	flex-direction: column;


}

.c{
	width: 300px;
	min-width: 300px;
  height: 400px;
  margin: 20px;
  padding: 2px;
  border-radius: 6px;
	border: 3px solid rgba(30, 20, 223, 0.905);
	justify-content: space-between;
  backdrop-filter: blur(0.6rem);  
	display: flex;    
	flex-direction: column;


}

.c-t{
	text-align: center;
}

.c-p{
	text-align: center;
	justify-content: center;
}

.learn-more{
	text-align: center;
	text-decoration: none;
}

a{
	text-decoration: none;
}

.summary {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	justify-content: center;
}

.about-me {
	display: flex table-column;
	width: 19em;
	text-align: right;
	width: 48%;
	backdrop-filter: blur(0.6rem);
}

.p1, .p2{
	font-size: 20px;
}

.about-image img{
	width: 240px;
	height: 240px;
	backdrop-filter: blur(0.6rem);
}

.c {
	width: 22%;
}

.c img {
	width: 100%;
}


.contact{
	backdrop-filter: blur(2.2rem);
	font-size: 1.5em;
}

.github{
	color: rgb(0, 0, 0);
} 
.github img{
	width: 35px;
}
.linkedin{
	color: rgb(19, 115, 115);
}
.whatsapp{
	color: rgb(8, 113, 41);
}
.facebook{
	color: rgb(9, 38, 225);
}
.instagram{
	color: rgb(178, 28, 80);
}


footer {
	text-align: center;
	padding: 5px;
	background-color: #1437d05e;
	color: #000;
	margin-top: 50px;
	backdrop-filter: blur(2.2rem);
}

.license{
	color: rgb(17, 0, 255);
}


@media (max-width: 768px){

body{
	background-color: rgba(4, 0, 255, 0.676);
}

.contact{
	backdrop-filter: blur(2.2rem);
	font-size: 1em;
}

footer{
	backdrop-filter: blur(2.2rem);
	font-size: 1em;
}

}
