body{
    background-image: url(#);
}
.cards{
    width: 22%;
}
.cards img{
    width: 100%;
}



footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
  }