* {
	padding: 0px;
  margin: 0%;
  box-sizing: border-box;
	font-family: 'EB Garamond', serif;
	max-width: 100vw;
	/* background-color: rgba(210, 22, 22, 0.271); */
}

.personalized-background{
	background-image: url(../images/fondo.png); 
}

.title{
	text-align: center;
	/* background-color: aquamarine; */
	backdrop-filter: blur(0.6rem);
}

.c-cont{
	color: red;
	width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
	min-width: 800px;
	max-width: 100vw;
}

.c-conte{
	display: flex;
	

}

.c{
	width: 300px;
  height: 400px;
  margin: 20px;
  padding: 10px;
  border-radius: 6px;
  overflow: hidden;
	border: 3px solid rgba(30, 20, 223, 0.905);
	background-color: rgba(255, 255, 255, 0.398);
  backdrop-filter: blur(0.6rem);      
}

.c-t{
	text-align: center;
}

.c-p{
	text-align: center;
}

.learn-more{
	text-align: center;
	text-decoration: none;
}

a{
	text-decoration: none;
}

.summary {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	justify-content: center;
}

.about-me {
	display: flex table-column;
	width: 19em;
	text-align: right;
	width: 48%;
	backdrop-filter: blur(0.6rem);
}

.p1, .p2{
	font-size: 20px;
}

.about-image img{
	width: 240px;
	height: 240px;
	backdrop-filter: blur(0.6rem);
}

.c {
	width: 22%;
}

.c img {
	width: 100%;
}



footer {
	text-align: center;
	padding: 5px;
	background-color: #abbaba;
	color: #000;
}

@media (max-width: 768px){

body{
	background-color: blue;
}


}
